services:
  app:
    build: .
    container_name: snap-sim
    ports:
      - "1999:80"
    volumes:
      - ./:/var/www
      - ./docker/conf.d/:/etc/supervisor/conf.d/:ro
    restart: unless-stopped
    networks:
      - local-network

networks:
  local-network:
    external: true
    name: laravel-network
